* {
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: #0000007f;

    user-select: none;
    -webkit-user-select: none;

    cursor: default;
}

body {
    background-color: white;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.category {
    padding: 12px;
    margin-bottom: 8px;

    border-radius: 12px;
    background-color: #e0e0e0;
}

.category>p#title {
    margin: 0;
    text-transform: uppercase;

    margin-bottom: 14px;
}

.component-list {
    display: flex;

    gap: 8px;
}

.component {
    height: 40px;
    background-color: #f0f0f0;

    border-radius: 8px;

    padding: 8px;

    flex-grow: 1;

    overflow: hidden;
}

.component>p#title {
    color: #0000006f;
    margin: 0;

    line-height: 40px;
}

.progress-bar {
    position: absolute;

    top: 0;
    bottom: 0;

    left: 0;

    background-color: #ffffff;
}

h1 {
    text-align: center;
}