.container {
    position: relative;
    max-width: 900px;
    max-height: 900px;
    margin: 0 auto;
    padding: 20px;
    }
    
    h1 {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        display: block;
      }
      
    .upload-button {
    display: inline-block;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    }
    
    textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    }
    
    .actions {
    margin-top: 20px;
    text-align: right;
    }
    
    button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
